@font-face{
  font-family: 'titoloGazzetta';
  src: url('CorisandeRegular.ttf');
}
@font-face{
  font-family: 'titoloGazzetta2';
  src: url('RobotoCondensed-Bold.ttf');
}
@font-face{
  font-family: 'testoGazzetta';
  src: url('GeorgiaRegular.ttf');
}
h1{
  font-family:titoloGazzetta, Roboto;
  font-size:3em;
  margin:0.67 0;
  text-align: center;
}
h2{
  font-family:titoloGazzetta2, Roboto;
  font-size:2em;
  margin:0.67em 0.67em;
  text-align: center;
}
p{
  font-family:testoGazzetta, Roboto;
  font-size:100%;
  margin:2em 2em;
  text-align: center;
}
.container {
  height: 50px;
  position: relative;
  /*border: 3px solid black;*/
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body{
  background-color: #fde9eb;
}
button{
  font-family: titoloGazzetta2;
  font-size: 150%;
  padding: 5%;
}
.linea{
  width: 20%;
  height: 10px;
  margin: 0 auto;
  background-color: #ddc0c0;
}
#dataOggiId{
  font-family: Roboto;
}
.topnav {
  margin:0 auto;
  overflow: hidden;
  background-color: black;
  border: 5px solid black;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: titoloGazzetta2;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: #f07821;
}

.topnav a.active {
  background-color: black;
  color: #f07821;
}
.topnav a.logo{
  color: black;
  background-color: #fde9eb;
}
